$white: #FFFFFF;
$black: #000000;
$brown: #cdaa5c;

$red: rgb(233, 30, 30);
$green: rgb(0, 255, 106);
$blue: rgb(0, 68, 255);
$pink: rgb(255, 0, 98);
$yellow: rgb(229, 252, 22);
$l-blue: rgb(22, 187, 252);
$grey: rgb(182, 182, 182);

$initial-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;